body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
}
.stopwatch{
    color: white;
    font-size: 60px;
    font-weight: 900;
    height:150px;
    width:600px;
    background-color: black;
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m2{
    height:120px;
    width:600px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stop{
    cursor: pointer;
    border-radius: 20px;
    height:80px;
    width:200px;
    font-size: 40px;
    font-weight: 400;
    background-color: red;
    border: 30px;
    color: white;
   
}
#start{
    cursor: pointer;
    border-radius: 20px;
    height:80px;
    width:200px;
    font-size: 40px;
    font-weight: 400;
    background-color: green;
    border: 30px;
    color: white;
}
#reset{
    cursor: pointer;
    border-radius: 20px;
    height:80px;
    width:200px;
    font-size: 40px;
    font-weight: 400;
    background-color:blue;
    border: 30px;
    color: white;
}
